@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@1,900&family=Poppins:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backImg {
    height: 20rem;
}

.form-button {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}

.form-button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.form-button:hover {
    color: #fff;
}

.form-button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.form-button:hover:before {
    top: -30px;
    left: -30px;
}

.form-button:active:before {
    background: #3a0ca3;
    transition: background 0s;
}
.title {
    font-family: 'Playfair Display SC', serif;
    /* font-family: 'Poppins', sans-serif; */
    
}