@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@1,900&family=Poppins:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.skillhub-logo {
    height: 45px;
}

.skillhub-logo-offcanvas {
    height: 40px;
}

.off-bg {
    background-color: #282d32;
}

.title {
    font-family: 'Playfair Display SC', serif;
    /* font-family: 'Poppins', sans-serif; */
    
}

.navbar-font {
    font-size: 15px;
}

@media (max-width: 576px) {}

@media (min-width: 576px) and (max-width: 768px) {
    .navbar-padding {
        margin-left: 20px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {}

@media (min-width: 993px) {
    .navbar-padding {
        padding-left: 25px;
    }
}